{% extends "master.html" %}

{% block externals %}
	{% include 'podmin/_base_externals.html' %}
{% endblock %}

{% block content %}
<div id="messages" class="row">
  <div class="twelve columns">
  {% if messages %}
      <ul class="messages">
      {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
  {% endif %}
  </div>
</div>
<div id="content">
 	<div class="row">
    	<div class="centered twelve columns">
        	<center><h2>{% block podcast_title %}{% endblock %}</h2></center>
        	<p><center><em>{% block podcast_subtitle %}{% endblock %}</em></center></p>
    	</div>
	</div>
	{% block sub_content %}{% endblock %}

</div>
{% endblock %}