{% extends "podmin/site/base.html" %}
{% load static from staticfiles %}
{% load markdown_deux_tags %}
{% block externals %}{% endblock %}

{% block title %}Welcome to Podmin{% endblock %}

{% block content %}
<div class="row">
  <div class="twelve columns">
    <h2>Welcome to PodMin, the People's Podcast Platform</h2>
  </div>
</div>

<div class="row page-container">
  <h3>What is this?</h3>
  <p>PodMin is an Open Source, community supported podcast hosting platform.
  What does that mean? It means that you can create and manage your very own podcast here for free, as long as your podcast is not-for-profit and doesn't need too much bandwidth. If your podcast does make money, or if you need more than our maximum free bandwidth, you can still use PodMin, but we'll charge you a small fee to cover resources.</p>
  <p>Why would we do that? Because we believe in open infrastructure for the Internet age.</p>
  <h3>How do I get started?</h3>
  <p>First of all, you'll need a podcast. PodMin doesn't handle the recording of your show, it just create iTunes-compatible podcast feeds and serves your audio files and RSS feed.</p>
  <p>If you have some episodes of your podcast recorded, or if you just have a great idea for a podcast and plans to record soon, use the <a href="{% url 'podcast_request' %}">Request Form</a> or send us an email at <a href="mailto:podlife@hypothetical.net">podlife@hypothetical.net</a> with the following information:</p>
  <ul>
    <li>Your name</li>
    <li>A login name for the PodMin system</li>
    <li>The name of your show</li>
    <li>A brief description or tagline for the show</li>
  </ul>
  <p>We'll reply as soon as we can with further instructions.</p>
</div>

{% endblock %}
