{% extends "podmin/podcast/site/base.html" %}

{% block podcast_title %}{{ podcast.title }}{% endblock %}
{% block podcast_subtitle %}{{ podcast.subtitle }}{% endblock %}

{% block sub_content %}
	<!-- Block with the podcast image and description -->
 	<div class="row">
    	<div class="three columns">
    		{% if podcast.image %}
    			<img src="{{podcast.image.url}}" alt="podcast image">
    		{% endif %}
    	</div>
    	<div class="nine columns">
     		<p>{{podcast.description}}<p>
    	</div>
  	</div>
  	<div class="row">
    	<div class="centered twelve columns">
			<table class="rounded">
				<tbody>
					{% for e in episodes %}
					<tr>
						<td>{{ e.title }}</td>
						<td>
							{{ e.description }}<br>
							<em>published {{ e.pub_date }}</em>
						</td>
						<td>PLAY</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
<ul>
{% for episode in episodes %}
<li><a href="{% url 'episode_show' eid=episode.id subsite=subsite %}">{{ episode.title }}</a></li>
{% endfor %} 
</ul>

{% endblock %}
