{% extends "podmin/site/base.html" %}
{% load static from staticfiles %}
{% block externals %}

<script src="{% static 'bower_components/mediaelement/build/mediaelement-and-player.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'bower_components/mediaelement/build/mediaelementplayer.css' %}" />

{% endblock %}

{% block title %}{{ episode.podcast.title }}{% endblock %}
{% block episode.podcast_subtitle %}{{ episode.podcast.subtitle }}{% endblock %}
{% block content %}

<div class="row">
    <div class="twelve columns">
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
        <h2><a href="{% url 'podcast_show' slug=episode.podcast.slug %}">
            {{ episode.podcast.title }}
            </a>
        </h2>
    </div>
</div>

<div class="row">
    <div class="three columns">
    {% if episode.image %}
        <img src="{{episode.medium_image}}" alt="podcast image">
    {% endif %}
    </div>

    <div class="nine columns">
        <h3>{{ episode.title }}</h3>
        {% if episode.subtitle %}
        <h4>{{ episode.subtitle }}</h4>
        {% endif %}
        <ul>
            <li>Published: {{ episode.pub_date }}</li>
            <li>Filed under: {{ episode.tags|default:'None' }}</li>
            <li>{{ episode.length }}</li>
        </ul>


    </div>
</div>

<div class="row">
    <div class="twelve columns">
    <h3>Listen</h3>
    <div class="player_container">
      <audio src="{{ episode.audio_url }}" class="mejs-player"></audio>
    </div>
    <h3>Download</h3>
    <a href="{{ episode.audio_url }}" target=new>{{episode.title}}</a></p>
    {{ episode.show_notes }}
    </div>
</div>

{% endblock %}

{% block footscripts %}

{% endblock %}