{% extends "podmin/admin_base.html" %}

{% load podmin_tags %}

{% block content %}

{% if form.non_field_errors %}
    {{ form.non_field_errors }}
{% endif %}

<div class="row">
    <div class="twelve columns">
    {% if episode %}
        <h2>Edit {{episode.podcast.title}} episode {{episode.id}}</h2>
        {% if episode.published %}
            This episode was published on {{episode.published|date}} at {{episode.published|time}}
        {% else %}
            This episode is not published.
        {% endif %}
        <form action="/{{episode.podcast.slug}}/{{episode.id}}/edit/" method="post" enctype="multipart/form-data">
    {% else %}
        <h2>New episode for {{podcast.title}}</h2>
        <form action="/{{podcast.slug}}/new/" method="post" enctype="multipart/form-data">
    {% endif %}

    {% csrf_token %}

    {% for field in form %}
    <ul>
        <li class="field">
            {% if field.errors %}
                <span class="danger alert">{{ field.errors }}</span>
            {% endif %}

            {% if field|is_checkbox  %}
                <label class="checkbox inline" for="{{ field.name }}">
                    {{ field.label }}{{ field }}
                    <span class="helptext">{{ field.help_text }}</span>
                </label>
            {% else %}
                <label for="{{ field.name }}">
                    {{ field.label }}
                    <br><span class="helptext">{{ field.help_text }}</span>
                </label>
                {% if field.name == 'image' and field.value %}
                    <img class="thumb" src="{{ episode.medium_image }}">
                {% endif %}
                {% if field.name == 'audio' and field.value %}
                    <em>{{ field.value.name|filename }}</em>
                {% endif %}

                {{ field }}
            {% endif %}
        </li>
    </ul>
    {% endfor %}
    <div class="medium info btn">
        <input type="submit" value="Submit" />
    </div>
    </form>

    </div>
</div>

{% endblock %}

{% block footscripts %}
<script type='text/javascript'>
  jQuery('#id_pub_date').datetimepicker({
      format:'Y-m-d H:i:s'
      });
</script>
{% endblock %}
