{% extends "podmin/site/base.html" %}
{% load static from staticfiles %}
{% block externals %}

<script src="{% static 'bower_components/mediaelement/build/mediaelement-and-player.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/mediaelementplayer.css' %}" />

{% endblock %}

{% block title %}{{ episode.podcast.title }}{% endblock %}
{% block episode.podcast_subtitle %}{{ episode.podcast.subtitle }}{% endblock %}
{% block content %}

<div id="title-row" class="row">
    <div class="twelve columns">
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
        <h2><a href="{% url 'podcast_show' slug=episode.podcast.slug %}">
            {{ episode.podcast.title }}
            </a>
        </h2>
    </div>
</div>

<div class="row top-box">
    <div class="three columns">
    {% if episode.image or episode.buffer_image %}
        {% if episode.image %}
            <img src="{{episode.medium_image}}" alt="podcast image">
        {% else %}
            <img src="{% url 'image_buffer' slug=episode.podcast.slug eid=episode.id size='medium' %}" alt="podcast image">
        {% endif %}
    {% else %}
        <img src="{{episode.podcast.medium_image}}" alt="podcast image">
    {% endif %}
    </div>

    <div class="nine columns" id="episode-head">
        <div>
        {% if editor or user.is_superuser %}
        <div class="control-links">
          {% if not episode.mothballed %}
          <a href="{% url 'episode_edit' slug=episode.podcast.slug eid=episode.id %}">Edit</a> |
          {% if not episode.published %}
          <a href="{% url 'episode_publish' slug=episode.podcast.slug eid=episode.id %}">Publish</a> |
          {% endif %}
          {% if episode.published %}
          <a href="{% url 'episode_depublish' slug=episode.podcast.slug eid=episode.id %}">Depublish</a> |
          {% endif %}
          <a href="{% url 'episode_delete' slug=episode.podcast.slug eid=episode.id %}">Remove</a>
          {% endif %}
        </div>
        {% endif %}
        <h3>{{ episode.title }}</h3>
        {% if episode.subtitle %}
        <h4>{{ episode.subtitle }}</h4>
        {% endif %}
        <span class="small">{{ episode.pub_date}}</span>
        </div>
        <br>

        {% if not episode.mothballed %}
        <div id="toolbox" class="bottom-sticky">
            <div class="player_container">
                {% if episode.audio %}
                <audio src="{{ episode.audio_url }}" class="mejs-player"></audio>
                {% else %}
                <audio src="{% url 'audio_buffer' slug=episode.podcast.slug eid=episode.id %}" class="mejs-player" type="{{ episode.mime_type }}"></audio>
                {% endif %}
            </div>
            <a href="{{ episode.audio_url }}" target=new class="ttip"
                data-tooltip="Download {{ episode.audio_filename }}">
                <span class="large">
               <i class="icon-download"></i>
               </span>
            </a>
            <a href="#" title="Info" class="ttip"
                data-tooltip='{{episode.length}} {{episode.size}} bytes {{episode.mime_type}}'>
                <span class="large">
                    <i class="icon-info-circled"></i>
                </span>
            </a>
        </div>
        {% else %}
        This episode is mothballed. Audio and images are not available, and the episode cannot be edited until it is restored.
        {% endif %}
    </div>
</div>


<div class="row page-container">
    {% if episode.description %}
    <div class="row">
        <div class="twelve columns">
        <h4>Description</h4>
        <p>{{ episode.description | linebreaks }}</p>
        </div>
    </div>
    {% endif %}

    {% if episode.guests %}
    <div class="row">
        <div class="twelve columns">
        <h4>Guests</h4>
        <p>{{ episode.guests | linebreaks }}</p>
        </div>
    </div>
    {% endif %}

    {% if episode.show_notes %}
    <div class="row">
        <div class="twelve columns">
        <h4>Show Notes</h4>
        <p>{{ episode.show_notes | linebreaks }}</p>
        </div>
    </div>
    {% endif %}

    {% if episode.credits %}
    <div class="row">
        <div class="twelve columns">
        <h4>Credits</h4>
        <p>{{ episode.credits | linebreaks }}</p>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block footscripts %}

{% endblock %}