{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="six columns centered">
        <center>
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
              {% csrf_token %}
          <ul>
            <div  class="required">
              <li  class="required">
                <div class="field">
                  <div class="three columns">
                    <label for="id_username">Username:</label>
                  </div>
                  <div class="nine columns">
                    <input type="text" class="input" name="username" /> 
                  </div>
                </div>
              </li>
            </div>

            <div  class="required">
              <li  class="required">
                <div class="field">
                  <div class="three columns">
                    <label for="id_username">Password</label>
                  </div>
                  <div class="nine columns">
                    <input type="text" class="input" name="password" /> 
                  </div>
                </div>
              </li>
            </div>
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </center>
    </div>
</div>
{% endblock %}
