{% extends "podmin/podcast/default/base.html" %}

{% block content %}

<h2>{{ episode.title }}</h2>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<ul>
<li>Subtitle: {{ episode.subtitle }}</li>
<li>Description: {{ episode.description }}</li>
<li>Filename: {{ episode.filename }}</li>
<li>Publication Date: {{ episode.pub_date }}</li>
<li>Tags: {{ episode.tags|default:'None' }}</li>
<li>storage_dir: {{ episode.podcast.storage_dir }}</li>
</ul>

{% endblock %}