<li><a href="#">Administer</a>
  <div class="dropdown">
    <ul>
      {% if perms.auth %}
      <li><a href="/admin/auth">Users and Groups</a></li>
      {% endif %}
      {% if perms.podmin.add_podcast %}
      <li><a href="/new">Add Podcast</a></li>
      {% endif %}
      {% if podcast %}
        {% if manager or user.is_superuser %}
        <li><a href="/{{ podcast.slug }}/edit?redirect={{ request.path }}">Edit Podcast</a></li>
        {% endif %}
      {% endif %}
      {% if podcast %}
        {% if editor or manager or user.is_superuser %}
        <li><a href="/{{ podcast.slug }}/new?redirect={{ request.path }}">Add Episode</a></li>
        {% endif %}
      {% endif %}
    </ul>
  </div>
</li>
