<li><a href="#">Administer</a>
  <div class="dropdown">
    <ul>
      {% if perms.auth %}
      <li><a href="/admin/auth">Users and Groups</a></li>
      {% endif %}
      {% if perms.podmin.add_podcast %}
      <li><a href="/new">Add Podcast</a></li>
      {% endif %}
      {% if podcast %}
        {% if editor or user.is_superuser %}
        <li><a href="/{{ podcast.slug }}/edit">Edit Podcast</a></li>
        {% endif %}
      {% endif %}
      {% if podcast %}
        {% if editor or user.is_superuser %}
        <li><a href="/{{ podcast.slug }}/new">Add Episode</a></li>
        {% endif %}
      {% endif %}
    </ul>
  </div>
</li>
