{% extends "podmin/podcast/site/admin_base.html" %}

{% block content %}

{% if episode %}
<h2>Edit {{episode.podcast.title}} episode {{episode.id}}, {{episode.pub_date}} </h2>
{% if episode.published %}
    This episode was published on {{episode.published|date}} at {{episode.published|time}}
{% endif %}

<form action="/episode/edit/{{episode.id}}/" method="post" enctype="multipart/form-data">
{% else %}
<h2>New episode for {{podcast.title}}</h2>
<form action="/episode/new/{{podcast.id}}/" method="post" enctype="multipart/form-data">
{% endif %}
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}

    <input type="submit" value="Submit" />
</form>

{% endblock %}