{% extends "podmin/admin_base.html" %}

{% load podmin_tags %}

{% block content %}

{% if form.non_field_errors %}
    {{ form.non_field_errors }}
{% endif %}

<div class="row">
  <div class="twelve columns">
    {% if slug %}
        <h2>Edit {{podcast.title}}</h2>
        <form action="{% url 'podcast_edit' slug=slug %}" method="post" enctype="multipart/form-data">
    {% else %}
        <h2>New podcast</h2>
        <form action="{% url 'podcast_new' %}" method="post" enctype="multipart/form-data">
    {% endif %}

    {% csrf_token %}

    {% for field in form %}
    <ul>
        <li class="field">
        {% if field.errors %}
        <li class="danger alert">{{ field.errors }}</li>
        {% endif %}


        {% if field|is_checkbox  %}
        <label class="checkbox inline" for="{{ field.name }}">
            {{ field.label }}{{ field }}
            <span class="helptext">{{ field.help_text }}</span>
        </label>
        {% else %}
        <label for="{{ field.name }}">
            {{ field.label }}
            <br><span class="helptext">{{ field.help_text }}</span>
        </label>
        {% if field.name == 'image' and field.value %}
        <img class="thumb" src="{{ podcast.medium_image }}">
        {% endif %}

        {{ field }}
        {% endif %}
        </li>
    </ul>
    {% endfor %}
    <div class="medium info btn">
        <input type="submit" value="Submit" />
    </div>
    </form>
  </div>
</div>

{% endblock %}
